<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WS Facture{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ asset('theme/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/css/colors/default.css') }}" id="theme" rel="stylesheet">
        <link href="{{ asset('theme/css/datatables.min.css') }}" id="theme" rel="stylesheet">
        <link href="{{ asset('theme/css/tagsinput.css') }}" id="theme" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .bootstrap-tagsinput {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body {% block body_attributes %}class="fix-header"{% endblock %}>

        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header">
                    <div class="top-left-part">
                        <!-- Logo -->
                        <a class="logo" href="{{ path('app_invoice_list') }}">
                            <b>
                                <img src="{{ asset('theme/plugins/images/admin-logo.png') }}" alt="home" class="dark-logo" />
                                <img src="{{ asset('theme/plugins/images/admin-logo-dark.png') }}" alt="home" class="light-logo" />
                            </b>
                            <span class="hidden-xs">
                                <img src="{{ asset('theme/plugins/images/admin-text.png') }}" alt="home" class="dark-logo" />
                                <img src="{{ asset('theme/plugins/images/admin-text-dark.png') }}" alt="home" class="light-logo" />
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav slimscrollsidebar">
                    <div class="sidebar-head">
                        <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                    </div>
                    <ul class="nav" id="side-menu">
                        <li style="padding: 70px 0 0;">
                            <a href="{{ path('app_invoice_list') }}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="page-wrapper">
                <div class="container-fluid">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ asset('theme/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('theme/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset("theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js") }}"></script>
        <script src="{{ asset('theme/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ asset('theme/js/custom.min.js') }}"></script>
        <script src="{{ asset('theme/js/datatables.min.js') }}"></script>
        <script src="{{ asset('theme/js/bootstrap-taginput.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
