{% extends '::base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Liste des factures</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Liste des factures</li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        {{ form_start(form, {attr: {novalidate : 'novalidate'}}) }}
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-info btn-lg btn-block"><i class="glyphicon glyphicon-search"></i> Rechercher</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="box-title">Liste des factures</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Contrat</th>
                                        <th>Facture</th>
                                        <th>Date facture</th>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <body>
                                    {% for invoice in invoices %}
                                        <tr>
                                            {% for column in invoice %}
                                                <td>
                                                    {% if not loop.last %}
                                                        {{ loop.index <= 3 ? column : column|date('d/m/Y') }}
                                                    {% else %}
                                                        <a href="{{ column }}" class="btn btn-info">Télécharger | <i class="glyphicon glyphicon-download"></i></a>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </body>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/Invoice/list.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
